.primarydiv{
    border:2px solid #ccc ;
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
}

.boldText{
    font-weight: 300;
}
.checkboxdiv{
    margin-top: 20px;
    border: 2px solid #000000;
}

input[type="checkbox"]{
    transform: scale(1.5);
    accent-color:rgba(218, 37, 28, 1);
    cursor: pointer;
    outline-color:rgba(218, 37, 28, 1) ;
}

 .select{
    margin-left: 355px;
    border: none;
    background-color: transparent;
}



 .sub-menu{
    max-height: 0;
    overflow: hidden;
 }


 .sub-menu-down{
    display: flex;
    flex-direction: column;
    max-width: 100px;
    margin-left: 30px;
 }


 ::-webkit-scrollbar {
  width: 1rem;
}