.custom-select {
  position: relative;
  margin-bottom: 20px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  appearance: none; /* Remove default styles */
  background-color: transparent; /* Make background transparent */
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: top 0.3s, font-size 0.3s;
}

.custom-select.focused .placeholder,
.custom-select.focused select:focus + .placeholder {
  top: 0;
  font-size: 12px;
}
